{% extends "base_generic.html" %}
{% block title %}
    Stock Home
{% endblock title %}
{% block content %}
    <div class="container py-5">
        <p style="text-align: justify;">
            Stock Home is a web-based stock trading solution that provides users access to real-time, as well as historical, 
            stock data, a comission-free brokerage account for trading, and a wealth of documentation geared toward ensuring 
            users can be educated on risks, strategies, and terminology. Unlike other popular online brokerage applications, 
            Stock Home provides community forums for investors to discuss and share notes on the stock market and collects 
            information on trader sentiment through these forums. Stock Home is intender for novice and experienced investors 
            alike who want to take control of their finances and invest in their future.
        </p>
        <div style="text-align: center;">
            <strong>Keep the money coming back!</strong>
        </div>
    </div>
{% endblock content %}
