{% extends "base_generic.html" %} {% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="py-5">
    <h1 class="display-3 fw-bold">Stock Home</h1>
    <p>Insert a short description of your project here.</p>
    <p class="col-md-8 fs-4">
      <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
    </p>
  </div>
</div>
<div class="py-5">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <p>Use this space to add any additional information about the project</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <p>Use this space to add any additional information about the project.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
