{% extends "base_generic.html" %}
{% load static %}
{% block style %}
{% endblock style %}
{% block title %}
    Meet our team
{% endblock title %}
{% block content %}
    <div class="justify-content-center">
        <div class="text-center d-flex">
            <div class="col-md-3 col-sm-6 mb-4">
                <img
                    style="
                    width: 10em;
                    height: 10em;
                    border-radius: 50%;
                    "
                    src="../static/img/blake.jpg"
                >

                <!-- Replace 'Name' with the Project Lead's name -->
                <h4 class="fw-bold">Blake Blanchard</h4>
                <p class="fw-bold">Project Lead</p>
                <!-- Update hrefs with the URLs to email, linked, and gitlab -->
                <a href="mailto: c00411322@louisiana.edu" target="_blank"><i class="fa-solid fa-envelope"></i></a> |
                <a href="https://www.linkedin.com/in/blake-blanchard-332a4117b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> |
                <a href="https://gitlab.com/blake_blanchard" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <img
                    style="
                    width: 10em;
                    height: 10em;
                    border-radius: 50%;
                    "
                    src="../static/img/stock_home_logo.png"
                >

                <!-- Replace 'Name' with the Tech Lead's name -->
                <h4 class="fw-bold">Nicholas Ho</h4>
                <p class="fw-bold">Flex Lead</p>
                <!-- Update hrefs with the URLs to email, linked, and gitlab -->
                <a href="mailto: c00119341@louisiana.edu" target="_blank"><i class="fa-solid fa-envelope"></i></a> |
                <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a> |
                <a href="https://gitlab.com/snicholasho" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <img
                    style="
                    width: 10em;
                    height: 10em;
                    border-radius: 50%;
                    "
                    src="../static/img/nickr.jpg"
                >

                <!-- Replace 'Name' with the Product Lead's name -->
                <h4 class="fw-bold">Nicholas Russell</h4>
                <p class="fw-bold">Flex Lead</p>
                <!-- Update hrefs with the URLs to email, linked, and gitlab -->
                <a href="mailto: c00415058@louisiana.edu" target="_blank"><i class="fa-solid fa-envelope"></i></a> |
                <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a> |
                <a href="https://gitlab.com/Nicholas_Russell" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <img
                    style="
                    width: 10em;
                    height: 10em;
                    border-radius: 50%;
                    "
                    src="../static/img/gabe.jpeg"
                >

                <!-- Replace 'Name' with the QA's name -->
                <h4 class="fw-bold">Gabriel Trahan</h4>
                <p class="fw-bold">Flex Lead</p>
                <!-- Update hrefs with the URLs to email, linked, and gitlab -->
                <a href="mailto: c00058009@louisiana.edu" target="_blank"><i class="fa-solid fa-envelope"></i></a> |
                <a href="https://theokoles7.github.io/portfolio/" target="_blank"><i class="fa-brands fa-github"></i></a> |
                <a href="https://gitlab.com/THEOKOLES" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
            </div>
        </div>
    </div>
{% endblock content %}
