{% extends "base_generic.html" %}

{% block title %}Question: {{ question.question_text }}{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="col-md-3"></div>
<div class="col-md-6">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="row">
            <div class="col-md-1">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            </div>
            <div class="col-md-5">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </div>
        </div>
        {% endfor %}
        {% if user.is_authenticated and user.is_student %}
        <input class="btn btn-success" type="submit" value="Vote">
        {% else %}
        <input class="btn btn-success" type="submit" value="Vote" disabled>
        {% endif %}
    </form>
    <br/><br/>

    <div class="center">
        {% if user.is_authenticated and user.is_teacher %}
        <a class="btn btn-warning" href="{% url 'polls:create-choice' question.id %}">
            <i class="fas fa-plus"></i> Add choice
        </a>
        <a class="btn btn-warning" href="{% url 'polls:results' question.id %}">
            <i class="fas fa-poll"></i> View Polling Result
        </a>
        {% endif %}
        {% if user.is_authenticated and user.is_student %}
        <a class="btn btn-warning disabled" href="{% url 'polls:create-choice' question.id %}" role="button" aria-disabled="true">
            <i class="fas fa-plus"></i> Add choice
        </a>
        <a class="btn btn-warning disabled" href="{% url 'polls:results' question.id %}" role="button" aria-disabled="true">
            <i class="fas fa-poll"></i> View Polling Result
        </a>
        {% endif %}
    </div>
</div>
<div class="col-md-3"></div>

{% endblock %}
