{% extends "base_generic.html" %}

{% block title %}Question: {{ question.question_text }}{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="col-md-3"></div>
<div class="col-md-6">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="row">
            <div class="col-md-1">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            </div>
            <div class="col-md-5">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Vote">
    </form>
</div>
<div class="col-md-3"></div>

{% endblock %}
