image: python:3.8
test:
    stage: test
    before_script:
        - pip install -r requirements.txt
    script:
        - python django_project/manage.py migrate
        - python django_project/manage.py test

staging:
    stage: deploy
    before_script:
        - apt-get update -qy
        - apt-get install -y ruby-dev
        - gem install dpl
    script:
        - dpl --provider=heroku --app=$HEROKU_APP_STAGING --api-key=$HEROKU_API_KEY --run='python django_project/manage.py migrate'
