<!-- templates/registration/signup.html -->
{% extends "base_generic.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Select the type of account you want to create</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a href="{% url 'users:student_signup' %}" class="btn btn-success btn-lg btn-block" role="button">I'm a student</a>
            </div>
            <!--col-md-3-->
            <div class="col-md-3">
                <a href="{% url 'users:teacher_signup' %}" class="btn btn-warning btn-lg btn-block" role="button">I'm a teacher</a>
            </div>
            <!--col-md-3-->
            <div class="col-md-3"></div>
        </div>
        <!--row-->
    </div>
</div>
{% endblock %}
