<!-- templates/registration/signup.html -->
{% extends "base_generic.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <div class="row justify-content-md-center">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>
    </form>
</div>
<div class="col-md-3"></div>
{% endblock %}
