@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* ----------------------------------------------------------NAVBAR*/
div.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10em;

    background-color: #fda403;
}

img.app-logo {
    width: 200px;
    height: 200px;
}

h1.app-name {
    font-family: 'Syne Mono', monospace;
    text-shadow: 0px 0px 40px #e8751a;
    color: #111;
    font-size: 3em;
}

div.nav-left,
div.nav-right,
div.nav-center {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div.nav-left {
    justify-content: flex-start;
}

div.nav-right {
    justify-content: flex-end;
}

button.nav-button {
    background-color: #333;
    border: 2px #e8751a solid;
    border-radius: .5em;
    height: 4em;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.nav-button:hover {
    border-color: #f8b400;
    cursor: pointer;
}

h3.button-label {
    font-family: 'Syne Mono', monospace;
    font-size: 2em;
    color: #f8b400;
}

h3.username {
    font-family: 'Syne Mono', monospace;
    text-shadow: 0px 0px 40px #e8751a;
    font-size: 1.5em;
}

img.user-photo {
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 25%;
}

/* ----------------------------------------------------------MAIN CONTENT*/
div.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: #333;
    padding: 1em;
}

h2.news-header {
    font-family: 'Syne Mono', monospace;
    text-shadow: 0px 0px 40px #e8751a;
    /* color: #f8b400; */
    color: #dc2f2f;
    font-size: 2em;
    width: 90%;
    text-align: center;
    border-bottom: solid 1px #f8b400;
    margin-left: auto;
    margin-right: auto;
}

div.news-section {
    min-height: 100vw;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.news-block {
    outline: solid 2px #e8751a;
    border-radius: .5em;
    margin-bottom: 2em;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.news-block-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .75em;
    border-bottom: solid 1px #e8751a;
}

h3.news-title {
    font-family: 'Syne Mono', monospace;
    color: #fda403;
    text-align: center;
}

svg.news {
    color: #fda403;
    width: 2em;
    height: 2em;
}

svg.news:hover {
    outline: solid #dc2f2f 1px;
    border-radius: .25em;
    background-color: #dc2f2f;
    cursor: pointer;
}

div.news-block-lower {
    display: flex;
    align-items: center;
}

p.news-description {
    font-family: 'Syne Mono', monospace;
    color: #f8b400;
    font-size: 1.25em;
    margin: 1em;
    text-indent: 2em;
    text-align: justify;
}