<!DOCTYPE html>
<link rel="stylesheet" text="text/scss" href="../../../static/styles/forecast_page.css">
<html>
    <head>
        <title>Stock Home</title>
        <meta charset="utf-8"/>
    </head>
    <body style="margin:0;">

        <div class="nav-bar">
            <div class="nav-left">
                <a href="/stock_home" style="text-decoration: none;">
                    <img class="app-logo" src="../../../static/img/stock_home_logo.png">
                </a>

                <a href="/stock_home" style="text-decoration: none;">
                    <h1 class="app-name">Stock Home</h1>
                </a>
            </div>

            <div class="nav-center">

                <a href="trade" style="text-decoration: none;">
                    <button class="nav-button" type="button">
                        <h3 class="button-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                            </svg>
                            Trade
                        </h3>
                    </button>
                </a>

                <a href="learn" style="text-decoration: none;">
                    <button class="nav-button" type="button">
                        <h3 class="button-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                              </svg>
                            Learn
                        </h3>
                    </button>
                </a>

                <a href="forecast" style="text-decoration: none;">
                    <button class="nav-button" href="#" type="button">
                        <h3 class="button-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                            </svg>
                            Forecast
                        </h3>
                    </button>
                </a>

            </div>
            <div class="nav-right">

                {% if user.is_authenticated %}<h3 class="username">{{user.get_username}}</h3>

                {% else %}<a href="/accounts/login" style="text-decoration: none; color: #111;"><h3 class="username">Log In</h3></a>

                {% endif %}

                <img class="user-photo" src="../../../static/img/green_monkey.jpeg">

            </div>
        </div>

        <div class="page-content">

            <div class="search-bar"></div>

            <div class="news-section">

                <h2 class="news-header">This Week's Picks</h2>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Perion Network Ltd. PERI</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Perion Network Ltd. is a global technology company that
                            delivers online advertising solutions and search monetization
                            to brands and publishers. The company came out with quarterly
                            earnings that represents an earnings surprise of 8.93%.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Arista Networks, Inc. ANET</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Arista Networks, Inc. is engaged in providing cloud networking
                            solutions for data centers and cloud computing environments.
                            Arista reported strong third-quarter 2022 results, wherein both
                            the bottom and the top lines beat the respective Zacks Consensus
                            Estimate, driven by solid demand trends and healthy customer
                            additions. The Zacks Consensus Estimate for the current and next
                            fiscal earnings has been revised 22.7% and 26.6% upward, respectively,
                            over the past year.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">MetLife Stock Is Up 20% This Year</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            MetLife stock (ticker: MET) has actually had an eventful 2022.
                            While the S&P 500 index has fallen 22% this year, MetLife stock
                            has cruised to a 20% gain, including reinvested dividends.
                        </p>
                    </div>

                </div>

            </div>

            <div class="news-section">

                <h2 class="news-header">Price Targets</h2>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Urban Outfitters, Inc. (NASDAQ:URBN)</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Shares of Urban Outfitters, Inc. (NASDAQ:URBN) rose nearly five percent
                            in pre-market trading Tuesday after Baird increased its price target for
                            the lifestyle retailer from $23 per share to $26 per share.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Foot Locker, Inc. (NYSE:FL)</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Shares of Foot Locker, Inc. (NYSE:FL) rose nearly four percent on Monday,
                            November 21, after receiving a price-target hike from Citi. The research f
                            irm lifted its price target for the sportswear and footwear retailer
                            from $33 per share to $38 per share following its better-than-expected
                            Q3 earnings and improved full-year outlook.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Toll Brothers, Inc. (NYSE:TOL)</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Shares of Toll Brothers, Inc. (NYSE:TOL) rose before the opening bell today
                            after JPMorgan turned bullish on the luxury homes builder. The research firm
                            upgraded Toll Brothers, Inc. (NYSE:TOL) from “Neutral” to “Overweight”
                            and raised its price target for the stock from $47 per share to $58 per
                            share.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Norwegian Cruise Line Holdings Ltd. (NYSE:NCLH)</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Truist analyst Patrick Scholes improved his price target for Norwegian
                            Cruise Line Holdings Ltd. (NYSE:NCLH) from $19 per share to $21 per
                            share on Tuesday, November 22. The analyst updated the price target as
                            a part of a broader research note on cruise line stocks.
                        </p>
                    </div>

                </div>

            </div>

            <div class="news-section">

                <h2 class="news-header">IPO's</h2>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">When are We Getting Instacart?!?!?!</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Instacart is a grocery pickup and delivery service headquartered in San
                            Francisco. The company partners with more than 25,000 grocery stores and
                            “big box” chains to hand-pick store items and deliver them to customers.
                            Customers shop online using the Instacart Marketplace via desktop or
                            handheld devices.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Epic Games</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Epic Games is a video game company based in Cary, NC. It's best known as
                            the creator of the first-person shooter game Fortnite, one of the
                            ten most popular online games globally, with more than 350 million
                            registered users.
                        </p>
                    </div>

                </div>

                <div class="news-block">
                    <div class="news-block-upper">
                        <h3 class="news-title">Stripe</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill news" viewBox="0 0 16 16">
                            <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                          </svg>
                    </div>

                    <div class="news-block-lower">
                        <p class="news-description">
                            Stripe is a financial technology company that develops payment processing
                            platforms, including APIs (application programming interfaces) software
                            as a service (SaaS) packages that enable digital payments.
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>