<!DOCTYPE html>
<link rel="stylesheet" text="text/scss" href="../../../static/styles/learning_page.css">
<html>
    <head>
        <title>Stock Home</title>
        <meta charset="utf-8"/>
    </head>
    <body style="margin:0;">

        <div class="nav-bar">
            <div class="nav-left">
                <a href="/stock_home" style="text-decoration: none;">
                    <img class="app-logo" src="../../../static/img/stock_home_logo.png">
                </a>

                <a href="/stock_home" style="text-decoration: none;">
                    <h1 class="app-name">Stock Home</h1>
                </a>
            </div>

            <div class="nav-center">

                <a href="trade" style="text-decoration: none;">
                    <button class="nav-button" type="button">
                        <h3 class="button-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                            </svg>
                            Trade
                        </h3>
                    </button>
                </a>

                <a href="learn" style="text-decoration: none;">
                    <button class="nav-button" type="button">
                        <h3 class="button-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                              </svg>
                            Learn
                        </h3>
                    </button>
                </a>

                <a href="forecast" style="text-decoration: none;">
                    <button class="nav-button" href="#" type="button">
                        <h3 class="button-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                            </svg>
                            Forecast
                        </h3>
                    </button>
                </a>

            </div>
            <div class="nav-right">

                {% if user.is_authenticated %}<h3 class="username">{{user.get_username}}</h3>

                {% else %}<a href="/accounts/login" style="text-decoration: none; color: #111;"><h3 class="username">Log In</h3></a>

                {% endif %}

                <img class="user-photo" src="../../../static/img/green_monkey.jpeg">

            </div>
        </div>

        <div class="page-content">

            <h2 class="section-header">The Basics</h2>

            <div class="section">

                <button class="left-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                </button>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Reading Charts</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/readingcharts.png')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Buying/ Selling</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/buysell.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Dividends</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/dividends.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">The Bulls & The Bears</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/bearsbulls.jpeg')">
                    </div>
                </div>

                <button class="right-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                      </svg>
                </button>

            </div>

            <hr>

            <h2 class="section-header">Strategy</h2>

            <div class="section">

                <button class="left-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                </button>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Saving</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/piggybanks.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Long Play</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/hourglass.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Income</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/moneytree.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Retirement</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/grandma.jpeg')">
                    </div>
                </div>

                <button class="right-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                      </svg>
                </button>

            </div>

            <hr>

            <h2 class="section-header">Trends</h2>

            <div class="section">

                <button class="left-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                </button>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Channels</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/channel.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Fibonacci</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/fibonacci.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Volume</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/volume.png')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Signals</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/signals.jpeg')">
                    </div>
                </div>

                <button class="right-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                      </svg>
                </button>

            </div>

            <hr>

            <h2 class="section-header">Options</h2>

            <div class="section">

                <button class="left-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                </button>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Calls</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/calls.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Puts</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/puts.png')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Exercising</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/exercise.jpeg')">
                    </div>
                </div>

                <div class="module">
                    <div class="module-upper">
                        <h3 class="module-title">Expiration</h3>
                    </div>
                    <div class="module-lower" style="background-image: url('../../static/img/expiration.jpeg')">
                    </div>
                </div>

                <button class="right-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                      </svg>
                </button>

            </div>

        </div>

    </body>
</html>