html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    margin-bottom: 60px;
}

.h1 {
    line-height: 20px;
}

@media (max-width: 980px) {
    body {
        padding-top: 80px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 45px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}
