{% extends "base_generic.html" %}
{% block content %}
    {% if validlink %}
        <div class="alert alert-info" role="alert">Please enter (and confirm) your new password.</div>
        <div class="d-flex justify-content-center">
            <div class="col-md-4">
                <form action="" method="post" id="password_change">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {{ form.media }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1 class="text-center fw-bold mb-5">Password reset failed</h1>
        <div class="alert alert-warning" role="alert">
            The password reset link was invalid, possibly because it has already been
            used. Please request a new password reset.
        </div>
    {% endif %}
{% endblock content %}
